@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>
    <div class="content px-4">
        <div class="container">
            <PTIBlazorVideoInsightsCourse.Client.CustomComponents.CurrentTimeIndicator></PTIBlazorVideoInsightsCourse.Client.CustomComponents.CurrentTimeIndicator>
        </div>
        <div class="container">
            <LanguageSelector></LanguageSelector>
        </div>
        <div class="container">
            @Body
        </div>
    </div>
</div>