@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> Loc

<h1>@Title</h1>
<div class="row">
    <p>@WelcomeMessage</p>
</div>
<div class="row">
    <a href="@CourseUrl" target="_blank">@CourseUrl</a>
</div>

@code
{
    private string Title
    {
        get
        {
            return Loc["Title"];
        }
    }

    private string WelcomeMessage
    {
        get
        {
            return Loc["WelcomeMessage"];
        }
    }

    private string CourseUrl
    {
        get
        {
            return Loc["CourseUrl"];
        }
    }
}
